<fieldset id="game-choose">
  <legend>Game Chooseer</legend>
  <select id="game-selection">
    <option value="">Select One</option>
    <% games.forEach(function(game){ %>
      <option value="<%= game.name %>"><%=game.label%></option>
    <% }) %>
  </select>
  <button id="game-starter">Start</button>
  <button id="game-ender">Leave</button>
</fieldset>
<% games.forEach(function(game){ %>
  <%- game.output() %>
<% }) %>
