<div class="commands">
  <span class="status"></span>
  <button class="start-game"><%= __('sample-game.buttons.start') %></button>
</div>
<div class="interface">
  <button class="win-game"><%= __('sample-game.buttons.win') %></button>
  <button class="lose-game"><%= __('sample-game.buttons.lose') %></button>
</div>
