<span id="<%=id%>--status"></span>
<div class="commands">
  <button class="start-game"><%- __('sample-game.buttons.start') %></button>
</div>
<div class="interface">
  <button class="win-game"><%- __('sample-game.buttons.win') %></button>
  <button class="lose-game"><%- __('sample-game.buttons.lose') %></button>
</div>
