<fieldset class="game" id="game-container--<%- name %>">
  <legend><%- label %></legend>
  <div class="commands">
    <span class="status"></span>
    <button class="start-game">Start</button>
  </div>
  <div class="interface">
    <button class="win-game">Win</button>
    <button class="lose-game">Lose</button>
  </div>
  <%- bets.betInterface() %>
</fieldset>
