<header>
  <div id="lang">
    <label for="language">Language</label>
    <select id="language">
      <option value="en">English</option>
      <option value="fr">French</option>
    </select>
  </div>
  <h1 id="page-title"><%= title %></h1>
  <h2><%- __('casino.tagline') %></h2>
</header>
<section id="output" class="no-js">
</section>
<footer>
  <p><%- __('casino.byline', 'Tyler Waters') %></p>
</footer>
