<div class='bet-interface' id="<%= id.substr(1) %>">
  <div class="status"></div>
  <%- output %>
  <button data-args="[]" data-translatable="chips.buttons.finish" class="finish-bet"></button>
</div>
