
<fieldset id="bets-interface">
  <legend><%= __('chips.winning-label') %></legend>
  <div class="stack-group">
    <%stacks.forEach(function (stack) {%>
      <%- stack %>
    <%})%>
  </div>
  <div id="bet-error"></div>
</fieldset>
