<fieldset id="<%= id.substr(1) %>">
  <legend><%- __('chips.winning-label') %></legend>
  <div class="stack-group">
    <%stacks.forEach(function (stack) {%>
      <%- stack %>
    <%})%>
  </div>
</fieldset>
