
#sample-game-1, #sample-game-2 {

  &.init {
    .interface{ display:none; }
    .start{ display:inherit; }
    .bet-interface { display: none; }
  }
  
  &.betting { 
    display: inherit; 
    .interface { display: none; }
    .start { display: none; }
    .bet-interface { display: block; }
  }
  
  &.playing { 
    display: inherit; 
    .interface { display: inherit; }
    .start { display: none; }
    .bet-interface { display: none; }
  }

  &.bust { 
    display:inherit; 
    .start { display: none; }
    .interface { display: none; }
    .bet-interface { display:none; }
  }

  .bet-interface {
  
    .spot {
      display: inline-block;
      margin: 20px; 
      width: 100px;
      min-height: 100px;
      border: 1px solid blue;  
      
      &.over {
        border-style: dotted;
      }
      
    }
  
    button {
      display:block;
    }
  }
}