/* for non-js browsers we want to make this as obvious as possible */
.no-js { display:none; }
noscript { color:red; font-weight:bold; }

body{ 
  width: 790px;
  margin: 0 auto;
  font-family: sans-serif;
}

header {
  margin-bottom: 1.0em;
  h1, h2 {
    margin: 0;
  }
}

footer {
  margin-top: 1.0em;
  p {
    margin: 0;
  }
}
