
<!-- stores current status messages -->
<div class="status"></div>

<div class="row dealer">
  <div><%- __('blackjack.labels.dealersCards')%></div>
  <div class="card-stack"></div>
</div>

<div class="row user">
  <div><%- __('blackjack.labels.usersCards')%></div>
  <div class="card-stack"></div>
</div>

<div class="controls">
  <button id="hit">Hit</button>
  <button id="stay">Stand</button>
  <button id="double">Double</button>
  <button id="surrender">Surrender</button>
  <button id="insurance">Insurance</button>
  <button id="split">Split</button>
  <button id="new-game">New Game</button>
  <button id="leave">Leave</button>
</div>
